<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Kate's Roks Jewelry</title>
    <!--CSS-->
    <link rel="stylesheet" type="text/css" class="ui" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" />
    <link href="styles/style.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</head>

<body>
    <header>
        <a href="#"><img src="images/logo-2.png" /></a>
    </header>
    
    <nav>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Каталог</a></li>
            <li><a href="#" class="active-tab">Блог</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Отзывы</a></li>
        </ul>
    </nav>

    <div class="wrapper">

        <div class="page-name">
            <h1>&#8212; БЛОГ &#8212;</h1>
        </div>
        
        <!-- Articles -->
        
        <section class="list-article">
            <table class="ui fixed table">
                <tbody>
                    <tr>
                        <td>
                            <figure class="article-list-photo">
                                <a href="#"><img class="ui fluid image" src="images/article-image-1.jpg"></a>
                            </figure>
                        </td>
                        <td class="article-list-description">
                            <heading>
                                <a href="#"><h3>OUD & BERGAMOT – JO MALONE</h3></a>
                            </heading>
                            <date>23/09/2014</date>
                            <article>
                                <p>One of the many benefits of living in Brighton has to be the Jo Malone store on Dukes Lane. Quintessentially British, Jo Malone boasts an iconic fragrance collection, among other luxury lifestyle products. Every time I visit the Jo Malone store I’m greeted with warmth and passion by people who generally want to help (it’s not…</p>
                            </article>
                            <div>
                                <button class="ui tiny button" id="buttons">Читать далее</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="list-article">
            <table class="ui fixed table">
                <tbody>
                    <tr>
                        <td>
                            <figure class="article-list-photo">
                                <a href="#"><img class="ui fluid image" src="images/article-image-4.jpg"></a>
                            </figure>
                        </td>
                        <td class="article-list-description">
                            <heading>
                                <a href="#"><h3>Магия уличной фотографии: снимки обычных людей на улицах Нью-Йорка</h3></a>
                            </heading>
                            <date>23/10/2016</date>
                            <article>
                                <p>Элен Левитт была фотографом, снимавшей улицы Нью-Йорка. Будучи закрытым человеком для общественности и журналистов, она, однако, была совершенно бесстрашной, когда в ее руках была камера. Ее особенность видеть интересные детали в повседневной жизнь, уметь находить удивительное - это то, что делает ее снимки такими особенными.</p>
                            </article>
                            <div>
                                <button class="ui tiny button" id="buttons">Читать далее</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <!-- Pagination -->
        <section class="pagination">
            <div class="ui pagination menu">
                <a href="?page={{ articles.previous_page_number }}" class="item" title="Перейти на предыдущую страницу">&larr; Назад</a>
                <div class="item">
                    1 из 8
                </div>
                <a href="?page={{ articles.next_page_number }}" class="item" title="Перейти на следующую страницу">Вперед &rarr;</a>
            </div>
        </section>

    </div>

    <footer class="footer-bottom">
        <div>
            <a href="#"><i class="large vk icon"></i></a>
            <a href="#"><i class="large facebook icon"></i></a>
            <a href="#"><i class="large twitter icon"></i></a>
            <a href="#"><i class="large youtube play icon"></i></a>
        </div>
        <div>
            2016 Kate's Roks Jewelry - &copy; All rights Reserved.
        </div>
    </footer>
</body>

</html>