* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

figure {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #BCBCBC;
    background: #141414;
}

p {
    text-indent: 3%;
    text-align: justify;
}

header {
    margin-top: 1%;
    text-align: center;
}

header img {
    max-width: 300px;
    height: auto;
}

.wrapper {
    width: 96%;
    margin: 0 auto;
    height: auto;
}


/*---Menu Styles Start ---*/

nav {
    width: 100%;
    margin: 1% auto 0 auto;
    overflow: hidden;
}

nav ul {
    width: 500px;
    margin: 10px auto;
    list-style: none;
    overflow: hidden;
}

nav li a {
    width: 16.6666%;
    padding: 2% 2%;
    text-align: center;
    float: left;
    display: block;
    text-align: center;
    color: #bcbcbc;
    font-size: 16px;
}

nav li a:hover,
.active-tab {
    color: #FFF;
    background: #222;
}


/*--------------- Common  ---------------*/

.page-name {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 2% 0;
}

.page-name h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
}

.ui.button {
    background: #222;
    border-radius: 0;
    border: 1px solid #222;
    color: #BCBCBC;
}

date {
    font-size: 12px;
    font-style: italic;
    color: #777777;
}


/*--------------- CATALOG  ---------------*/
.page-name a{
	color: #BCBCBC;
}
.page-name a:hover{
    color: #FFF;
}

.doubling.three.wide.column ul {
    list-style: none;
}

.doubling.three.wide.column ul li {
    padding: 0 0 2% 30%;
}

.doubling.three.wide.column ul li a {
    color: #BCBCBC;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.doubling.three.wide.column ul li a:hover {
    color: #FFF;
}

.product {
    width: 31%;
    float: left;
    height: 300px;
    border: 1px solid #222;
    margin: 0 1% 2% 1%;
}

.product:hover {
    cursor: pointer;
    background: #222;
}

.product-photo {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.product-photo img {
    width: 100%;
    height: auto;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.product-description {
    padding: 1%;
}

.product-description div {
    margin-top: 1%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.product-description a {
    color: #BCBCBC;
    text-align: center;
}

.product-description a:hover {
    color: #FFF;
}

.product-description a h4 {
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
}


/*---------- Blog Article List  ----------*/

.list-article {
    margin: 1% 0;
}

.ui.table,
.ui.pagination.menu {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    color: #BCBCBC;
    background: #141414;
    border: 1px solid #141414;
}

.ui.table td {
    vertical-align: top;
}

.ui.table a {
    color: #BCBCBC;
}

.ui.table td a:hover {
    color: #FFF;
}

.ui.table td h3 {
    margin-top: 2%;
}

.ui.table td article {
    margin: 2% 0;
}

.article-list-description {
    max-width: 96%;
    margin: 0 auto;
}

.article-list-photo {
    max-height: 270px;
    max-width: 96%;
    margin: 0 auto;
    overflow: hidden;
}


/*---------------Pagination Menu ---------*/

.pagination {
    text-align: center;
    margin: 2% 0;
}

.ui.pagination.menu a,
.ui.pagination.menu .item {
    color: #BCBCBC;
    padding: 0 5px;
}

.ui.pagination.menu a:hover {
    color: #FFF;
    font-weight: bold;
}


/*----------      Article     ----------*/

.ui.mobile.stackable.grid.container {
    width: 100%!important;
    height: auto!important;
    margin: 2% 0;
}

.doubling.ten.wide.column>section {
    width: 95%;
    margin: 0 auto;
}


/*------------ Latest Articles ----------*/

.doubling.six.wide.column section {
    width: 90%;
    margin: 0 auto 5% auto;
}

.doubling.six.wide.column div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5%;
}

.doubling.six.wide.column div h2 {
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.doubling.six.wide.column section figure {
    max-height: 170px;
    max-width: 100%;
    overflow: hidden;
}

.doubling.six.wide.column section heading a {
    color: #BCBCBC;
}

.doubling.six.wide.column section heading a:hover {
    color: #FFF;
}

.doubling.six.wide.column section heading a h3 {
    margin-top: 5px;
}


/*---------------- Footer --------------*/

.footer-bottom {
    width: 100%;
    text-align: center;
    background: #141414;
}

footer div {
    padding: 1% 0;
}

footer a {
    color: #BCBCBC;
}

footer a:hover {
    color: #FFF;
}


/*--- Media Queries! ---*/

@media only screen and (max-width: 768px) {
    nav li a {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .article div {
        width: 100%;
    }
    .pagination {
        margin: 3% 0;
    }
    /*--- Article Inside ---*/
    .doubling.ten.wide.column>section {
        width: 100%;
    }
    /*--- Latest Articles ---*/
    .doubling.six.wide.column section {
        width: 100%;
        margin: 0 auto 5% auto;
    }
    .doubling.six.wide.column section figure {
        max-height: 250px;
        max-width: 100%;
        overflow: hidden;
    }
    /*------- Product -------*/
    .doubling.three.wide.column ul li {
        padding: 0 1%;
    }
    .product {
        width: 46%;
    }
}

@media only screen and (max-width: 540px) {
    nav li a {
        text-align: left;
        font-size: 120%;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    nav li a:hover,
    .active-tab {
        background: #222;
    }
    .social-network {
        margin: 10px 0;
        text-align: center;
    }
    .pagination {
        margin: 3% 0;
    }
    footer div {
        padding: 2% 0;
    }
    /*------- Product -------*/
    .product {
        width: 98%;
        margin: 0 1% 4% 1%;
    }
}